body {
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "consolas";
  background-color: black;
}

#menuItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 5vmin;
  border: 1vmin rgba(0, 0, 0, 0.6) solid;
  font-size: 5vmin;
  color: white;
  border-radius: 8%;
}

#end-game {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: x-large;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  border: white 1vmin solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  visibility: hidden;
  transition: all ease 0.8s;
}

#difficulty {
  font-family: "consolas";
}

button {
  font-size: 5vmin;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  border-radius: 1vmin;
  padding: 1vmin;
  font-family: "consolas";
}

button:hover {
  background: black;
  color: white;
}

select {
  font-size: 4vmin;
  cursor: pointer;
  border: none;
  border-radius: 1vmin;
  outline: none;
}

#time {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  font-size: 5vmin;
  color: white;
}

[id*="switch-wrap"] {
  cursor: pointer;
  background: #15273b;
  padding: 7px;
  width: 7vmin;
  height: 3vmin;
  border-radius: 33.5px;
  position: absolute;
  cursor: pointer;
}

#switch-wrap-1 {
  top: 2%;
  right: 2%;
}

#switch-wrap-2 {
  top: 8%;
  right: 2%;
}

[id*="switch-wrap"] input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[class*="switch"] {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  transition: 0.2s ease;
}

[class*="switch"]::after {
  content: "";
  border-radius: 50%;
  background: #52cf71;
  grid-column: 2;
  transition: all 0.2s ease;
}

input:checked + [class*="switch"], .switch-2 {
  grid-template-columns: 0fr 1fr 1fr;
}

input:checked + [class*="switch"]::after {
  background-color: #ccc;
}

@media screen and (max-width: 1080px) {
  [id*="switch-wrap"] {
    display: none;
  }
  #end-game {
    top: 15%;
    font-size: large;
  }
}

input:checked + .switch-2::after {
  background-color: rgb(250, 54, 54);
}

.switch-2::after {
  background-color: #ccc;
}

/* .switch-2 {
  grid-template-columns: 0fr 1fr 1fr;
} */

input:checked + .switch-2 {
  grid-template-columns: 1fr 1fr 0fr;
}
