body {
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "consolas";
  background-color: black;
}

#menuItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 5vmin;
  border: 1vmin rgba(0, 0, 0, 0.6) solid;
  font-size: 5vmin;
  color: white;
  border-radius: 8%;
}

button {
  font-size: 5vmin;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  border-radius: 1vmin;
  padding: 1vmin;
}

button:hover {
  background: black;
  color: white;
}

select {
  font-size: 4vmin;
  cursor: pointer;
  border: none;
  border-radius: 1vmin;
  outline: none;
}

#time {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  font-size: 5vmin;
  color: white;
}

#photo-button {
  width: 8vmin;
  height: 8vmin;
  top: 10%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  cursor: pointer;
}
.circle {
  position: absolute;
  top: 17%;
  left: 17%;
  bottom: 14%;
  right: 17%;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 0;
}
.ring {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  border-radius: 100%;
  border: 0.5em solid #ffffff;
  opacity: 0.8;
}
#photo-button .circle, #photo-button .ring {
  transition: all 0.25s ease;
}
#photo-button:hover .circle {
  opacity: 1;
}
#photo-button:active .ring {
  opacity: 1;
}
#photo-button:active .circle {
  opacity: 0.5;
}
