body {
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "consolas";
  background-color: black;
}

#menuItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 5vmin;
  border: 1vmin rgba(0, 0, 0, 0.6) solid;
  font-size: 5vmin;
  color: white;
  border-radius: 8%;
}

#difficulty {
  font-family: "consolas";
}

button {
  font-size: 5vmin;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  border-radius: 1vmin;
  padding: 1vmin;
  font-family: "consolas";
}

button:hover {
  background: black;
  color: white;
}

select {
  font-size: 4vmin;
  cursor: pointer;
  border: none;
  border-radius: 1vmin;
  outline: none;
}

#time {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  font-size: 5vmin;
  color: white;
}

#switch-wrap {
  cursor: pointer;
  background: #15273b;
  padding: 7px;
  width: 7vmin;
  height: 3vmin;
  border-radius: 33.5px;
  position: absolute;
  cursor: pointer;
  top: 2%;
  right: 2%;
}
#switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  transition: 0.2s ease;
}
.switch::after {
  content: "";
  border-radius: 50%;
  background: #52cf71;
  grid-column: 2;
  transition: all 0.2s ease;
}

input:checked + .switch {
  grid-template-columns: 0fr 1fr 1fr;
}
input:checked + .switch::after {
  background-color: #ccc;
}

@media screen and (max-width: 768px) {
  #switch-wrap {
    display: none;
  }
}
